@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:wght@100;300;400;500;700&family=Roboto:wght@100;300;500;700&display=swap');

/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

svg{
  color: black;
}

/* HEADER */

.navbar {
  color: white;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 9999;
  transition: all 100ms;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.navbar.active, .navbar.active svg {
  color: black;
  background-color: white;
}

.navbar.not-home, .navbar.not-home svg{
  color: black;
}

.navbar.not-home{
  background-color: white;
}

.navbar .name{
  font-family: 'Lobster', cursive;
  font-size: 25px;
  padding: 3px 6px;
}

.navbar svg{
  color: white;
}

nav{
  background: transparent;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.name {
  font: 2rem;
  padding: 3px;
}

.menu-dropdown{
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-dropdown button{
  background: inherit;
  border: none;
}

/* DROPDOWN */

.dropdown {
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  background: white;

}

.navigation {
  padding: 15px;
}

.navigation svg {
  color: black;
}

.navigation button{
  background: inherit;
  border: none;
  padding: 0.1rem;
}


/* FOOTER */

footer{
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: linear-gradient(135.8deg, rgb(26, 26, 29) 27.1%, #5c110c 77.5%);
}

footer svg{
  color: white;
}

footer button{
  border: none;
  background: none;
}

footer .user-info{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  padding-bottom: 30px;
  font-size: 22px;
}

footer h4{
  padding-right: 10px;
}

footer .developer-info{
  display: flex;
  justify-content: flex-start;
  padding: 5px 5px 0px 5px;
  font-size: 14px;
  align-items: center;
}

footer .developer-info a{
  text-decoration: none;
  color: inherit;
}

footer .developer-info svg{
  padding: 5px;

}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.contact p{
  margin: 3px 0;
}

/* HOME */

main .welcome {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: white;
  background-image: url('https://media.istockphoto.com/id/1278745986/photo/culinary-background-with-traditional-ingredients-of-italian-cuisine.jpg?b=1&s=170667a&w=0&k=20&c=jct5dpWc9sFrs6g4_u9n1aV7IDBEJ5n3T9lF75sMft8=');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  animation-delay: 0.1s;
}

.welcome .intro{
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  padding: 75px 25px 10px 25px;
  display: grid;
}

.intro .greeting{
  display: flex;
  font-weight: 700;
}

.intro h1{
  font-size: 30px;
  padding: 5px 10px;
  margin: 10px;
  background-color: #DA291C;
  border-radius: 2px;
}

.intro h2{
  padding: 10px;
}

.intro h2 span{
  color: #DA291C;
}

.intro p{
  padding: 10px;
}

.first-button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.first-button button{
  background-color: #DA291C;
  border-radius: 2px;
  border: none;
  padding: 10px 25px;
  color: white;
}

.first-button a button{
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
}

/* FOOD SECTION */

.food-section{
  display: flex;
  justify-content: center;
  align-items: center;
  animation-delay: 0.2s;
}

.header-2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-2{
  font-family: 'Raleway', sans-serif;
  padding: 20px;
}

/* food and button */
.align-button{
  display: flex;
  align-items: center;
  justify-content: center;
}

.food-pictures{
  width: 80vw;
  height: 100%;
  display: flex;
  left: 0;
  overflow: scroll;
}

.food{
  width: 9rem;
  height: 9rem;
  padding: 0.5rem;
}

.food img{
  width: 100%;
  height: 100%;
}

.food-button{
  border: none;
  border-radius: 10px;
  height: 100px;
  margin: 0 5px;
}

/* recepies button */

.recepies-button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.recepies-button button{
  background-color: #DA291C;
  border-radius: 2px;
  border: none;
  padding: 10px 25px;
}

.recepies-button button a{
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
}


/* COURSES SECTION */

.lessons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  margin-top: 20px;
  color: white;
  background-image: url('https://media.istockphoto.com/id/1169326482/video/chef-cooking-in-restaurant-kitchen-blurred-defocused-background.jpg?s=640x640&k=20&c=zHCvhmcllwprGxEN44M9u0ZrtUl91Q-5aty6llxwtX8=');
  background-size: cover;
  animation-delay: 0.3s;
}

.lessons h4{
  margin-top: 30px;
  padding: 10px;
  border-bottom: 1px solid white;
  font-size: 22px;
}

.lessons iframe{
  margin: 25px 25px 15px 25px;
  width: 80%;
  height: 185px;
  border-radius: 20px;
  border: 1px solid white;
}

.lessons .buttons{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.lessons button{
  background-color: #DA291C;
  border-radius: 3px;
  border: none;
  padding: 5px 15px;
  margin: 6px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.lessons svg{
  padding: 5px 8px;
  color: white;
}

.lessons button:nth-child(2){
  background: #7289da;
}
.lessons button:nth-child(3){
  background: #FF0000;
}


/* ABOUT ME */

.profile-picture{
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  margin-top: 80px;
  margin-bottom: 50px;
}

.profile-picture img{
  width: 150px;
  padding: 10px;
  border: 1px solid black;
}

.about-me{
  font-family: 'Raleway', sans-serif;
  padding: 0 40px;
}

.about .first-button{
  margin: 20px;
}

/* LOGIN FORM */

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  height: calc(100vh - 180px);  
}

.login-form label {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px 0;
  width: 80%;
}

.login-form label input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
}

.login-submit-button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #0077cc;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
}

.login-submit-button:hover {
  background-color: #005ea3;
}

/* ADD RECEPIES */

.add-recepies {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 100px auto;
  font-family: 'Raleway', sans-serif;
}

.add-recepies h2{
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 20px;
}

.add-recepies div{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-title textarea,
.short-description textarea,
.full-description textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: box-shadow 0.2s ease-in-out;
  word-break: break-all;
  
  min-height: 20px;
  overflow: hidden;
  resize: none;
}

.full-description textarea{
  white-space: pre-wrap;
}

.add-title textarea:focus,
.short-description textarea:focus,
.full-description textarea:focus {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.short-description.too-much textarea{
  border: 1px solid red;
}

.short-description{
  position: relative;
}

.letter-counter {
  max-width: 50px;
  position: absolute;
  bottom: 15px;
  right: 0;
  font-size: 12px;
}

.full-description, .full-description textarea{
  min-height: 200px;
}

.add-image {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-image-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  border: 2px dashed gray;
  cursor: pointer;
}

.add-image-preview {
  max-width: 100%;
  max-height: 100%;
}

.add-image-input {
  display: none;
}

.recepie-submit {
  background-color: #007bff;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.recepie-submit:disabled{
  background-color: gray;
}

.recepie-submit:hover {
  background-color: #0062cc;
}

h3 {
  color: red;
  margin-top: 20px;
}

/* RECEPIES */

.recepies {
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  margin: 100px 0;
}

.recepies a{
  text-decoration: none;
  color: inherit;
}

.recepie {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.recepie a{
  display: flex;
}

.recepie button{
  border: none;
  text-decoration: none;
  background: inherit;
}

.recepie img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 5px;
}

.description {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.description h4 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.description p {
  font-size: 16px;
  margin: 8px 0 0 0;
}

.confirm-delete {
  font-size: 24px;
  width: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem;
  border: 1px solid #f5c6cb;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  color: #343a40;
  text-align: center;
  line-height: 1.5;
}


.confirm-delete h4 {
  margin-top: 0;
}

.confirm-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.confirm-buttons button {
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.confirm-buttons button:first-child {
  background-color: #721c24;
  color: #fff;
  margin-right: 1rem;
}

.confirm-buttons button:first-child:hover {
  background-color: #5c161e;
}

.confirm-buttons button:last-child {
  background-color: #fff;
  color: #721c24;
}

.confirm-buttons button:last-child:hover {
  background-color: #eee;
}


/* RECEPIE DETAIL */

.recepie-detail {
  padding: 20px;
  text-align: center;
  margin: 50px 0;
  font-family: 'Raleway', sans-serif;
}

.recepie-title {
  font-size: 24px;
  margin-top: 20px;
}

.recepie-short-description {
  font-size: 16px;
  margin-top: 20px;
  background-color: #b1b8d3;
  border-radius: 5px;
  padding: 15px;
}

.recepie-full-description {
  font-size: 14px;
  margin-top: 20px;
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
  text-align: start;
}

.recepie-detail img {
  width: 100%;
  max-width: 250px;
  max-height: 300px;
  object-fit: cover;
  height: auto;
  margin: 30px;
  padding: 15px;
  border: 1px solid gray;
  border-radius: 5px;
  
}

