@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:wght@100;300;400;500;700&family=Roboto:wght@100;300;500;700&display=swap');

/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

svg{
  color: black;
}

/* HEADER */

header {
  color: white;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  z-index: 9999;
}

header .name{
  font-family: 'Lobster', cursive;
  font-size: 25px;
  padding-left: 30px;
}

header svg{
  color: white;
}

nav{
  background: transparent;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.name {
  font: 2rem;
  padding: 3px;
}

.menu-dropdown{
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-dropdown button{
  background: inherit;
  border: none;
}

/* DROPDOWN */

.dropdown {
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  padding: 15px;
}

.navigation button{
  background: inherit;
  border: none;
}

.dropdown .navigation:nth-child(1){
  position: absolute;
  right: 0;
  top: 0;
  padding: 1.5rem;
}

.dropdown .navigation:nth-child(2){
  margin-top: 30px;
}

/* FOOTER */

footer{
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: black;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

footer svg{
  color: white;
}

footer button{
  border: none;
  background: none;
}

footer .user-info{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  padding-bottom: 30px;
  font-size: 24px;
}

footer h4{
  padding-right: 10px;
}

footer .developer-info{
  display: flex;
  justify-content: flex-start;
  padding: 5px;
  font-size: 16px;
}

footer .developer-info a{
  text-decoration: none;
  color: inherit;
}

/* HOME */

main .welcome {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: white;
  background-image: url('https://media.istockphoto.com/id/1278745986/photo/culinary-background-with-traditional-ingredients-of-italian-cuisine.jpg?b=1&s=170667a&w=0&k=20&c=jct5dpWc9sFrs6g4_u9n1aV7IDBEJ5n3T9lF75sMft8=');
  background-repeat: no-repeat;
  background-position: bottom;
}

.welcome .intro{
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  padding: 75px 25px 10px 25px;
  display: grid;
}

.intro .greeting{
  display: flex;
  font-weight: 700;
}

.intro h1{
  font-size: 30px;
  padding: 5px 10px;
  margin: 10px;
  background-color: #DA291C;
  border-radius: 2px;
}

.intro h2{
  padding: 10px;
}

.intro h2 span{
  color: #DA291C;
}

.intro p{
  padding: 10px;
}

.first-button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.first-button button{
  background-color: #DA291C;
  border-radius: 2px;
  border: none;
  padding: 10px 25px;
}

.first-button button a{
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
}

/* FOOD SECTION */

.food-section{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.header-2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-2{
  font-family: 'Raleway', sans-serif;
  padding: 20px;
}


.food-pictures{
  width: 80vw;
  height: 100%;
  display: flex;
  left: 0;
  overflow: scroll;
}

.food{
  width: 9rem;
  height: 9rem;
  padding: 0.5rem;
}

.food img{
  width: 100%;
  height: 100%;
}

.recepies-button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.recepies-button button{
  background-color: #DA291C;
  border-radius: 2px;
  border: none;
  padding: 10px 25px;
}

.recepies-button button a{
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
}





